<mat-toolbar>
  <span>{{ title }}</span>
  <mat-menu #appMenu="matMenu">
    <button mat-menu-item>Settings</button>
    <button mat-menu-item>Help</button>
  </mat-menu>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Escribe un Lugar" value="None" (keydown.enter)="$event.preventDefault()" #search>
  </mat-form-field>
  <button mat-icon-button [matMenuTriggerFor]="appMenu">
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-toolbar>

<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng" [markerDraggable]="true" (dragEnd)="markerDragEnd($event)">
  </agm-marker>
</agm-map>
<h5>Address: {{address}}</h5>
<div>Latitude: {{lat}}</div>
<div>Longitude: {{lng}}</div>